<?xml version="1.0" encoding="utf-8" ?>
<!--
IndexName:索引名
Type:类型
WhereFiled:条件字段
WhereValue:值
Interval:间隔
-->
<DeleteTaskConfig>
  <DeleteTaskConfigs>
    <DeleteTaskConfig IndexName="customerindex" Type="customerindexesinfo"
                      WhereScript="doc['isActive'].value==3" 
                      Interval="600" />
    <DeleteTaskConfig IndexName="vendorpriceindex" Type="vendorpriceinfo" WhereScript="doc['isActive'].value==3"  Interval="600" />
  </DeleteTaskConfigs>
</DeleteTaskConfig>