@{
    ViewBag.Title = "操作提示";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<div class="main">
    <div class="fly-none">
        <h2><i class="iconfont icon-tishilian"></i></h2>
        <p>
            @ViewBag.Msg
        </p>
    </div>
</div>
@if (ViewBag.Url != null)
{
    <script>
        setTimeout(function()
                {
                    window.location.href = "@ViewBag.Url";
                }
                ,
                "2000")
            ;
    </script>
}
    

