<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  
  <connectionStrings configSource="Config\ConnectionString.config" />
  
  <log4net configSource="config\log4net.config" />
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="vs:EnableBrowserLink" value="false" />

    <!--BBS服务器地址-->
    <add key="BBSWebUrl" value="fly.com" />
    <!--静态文件服务器地址-->
    <add key="StaticFileHost" value="" />
    
    <!--后台上传文件目录配置-->
    <add key="UploadPath" value="..\UploadFiles\" />
    
    <!--头像设置-->
    <!--头像文件服务器地址-->
    <add key="AvatarFileHost" value="" />
    <!--用户头像目录配置（ 可使用绝对路径也可使用相对路径，可以与后台配置相同位置）-->
    <add key="UserAvatarPath" value="\UploadFiles\Avatar\" />
    <!--默认用户头像-->
    <add key="DefaultAvatar" value="defaultavatar{sex}.jpg" />
    <!--用户头像预览图尺寸-->
    <add key="AvatarThumbnailSizes" value="45;48;50;60;78;100;120;140;180" />
    <!--头像存储格式-->
    <add key="AvatarFormat" value="png" />
    <!--头像是否同步云空间-->
    <add key="AvatarIsSyncCloud" value="true" />
    <!--头像是否使用云空间地址展示-->
    <add key="AvatarIsShowCloudUrl" value="true" />
    <!--头像使用云空间空间名称-->
    <add key="AvatarBucketName" value="hgavatar" />
    <!--头像云空间地址-->
    <add key="AvatarCloudUrl" value="http://ofbvvqu9x.bkt.clouddn.com/" />
  
    <!--七牛配置 ak-->
    <add key="Cloud_QiNiu_AK" value="" />
    <!--七牛配置 sk-->
    <add key="Cloud_QiNiu_SK" value="" />
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="None" />
    <!--<compilation debug="true" targetFramework="4.5" />-->
    <httpRuntime targetFramework="4.5" />
    <httpModules>
      
    </httpModules>
  <httpHandlers>
 
    </httpHandlers>
  </system.web>
  <system.webServer>
    <modules>
     
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  <handlers>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>