<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="MembersiteConnString" connectionString="server=192.168.87.63;database=Membersite;uid=epuser;pwd=ep123" />
  <add name="DealerAssistantSystemConnString" connectionString="server=192.168.87.63;database=DealerAssistantSystem;uid=epuser;pwd=ep123" />
</connectionStrings>