<?xml version="1.0" encoding="utf-8" ?>
<!--
IndexType:类型 （唯一）
IndexName:索引名（名字后会追加日期）
Alias:别名（使用ES过程中使用别名）
Replicas:副本数
Shards:分片数
PageSize:每批次处理数(初始化时如果实现了分页功能，可设置分页数，如果实现的是一次性拉取所有则参数无效)
ThreadCount:线程数(如果是一次性拉取所有，线程数只能为1)
TypeName:实现类(实现初始化方法的类)
DBTables:初始化过程中需要检测的数据（dbkey|tablename;）
-->
<IndexConfig>
  <IndexConfigs>
    <IndexConfig
                   IndexType="VendorPromotionNews"
                   IndexName="vendorpromotionnews_v"
                   Alias="vendorpromotionnews"
                   Replicas="1"
                   Shards="5"
                   PageSize="0"
                   ThreadCount="1"
                   TypeName="EsData.Business.DataIndex.Indexers.VendorPromotionNewsIndexer"
                   Interval="60"
                   DBTables="DealerAssistantSystemConnString|everyVendorPromotionNewstop1;"
                />

    <IndexConfig IndexType="VendorInfo"
                 IndexName="vendorinfo_v"
                 Alias="vendorinfo"
                 Replicas="1"
                 Shards="5"
                 PageSize="0"
                 ThreadCount="1"
                 TypeName="EsData.Business.DataIndex.Indexers.VendorInfoIndexer"
                 Interval="60"
                 DBTables="MembersiteConnString|VendorInfo;"
                 />
    <IndexConfig IndexType="vendorandcarserialpromotionnews"
                 IndexName="vendorandcarserialpromotionnews_v"
                 Alias="vendorandcarserialpromotionnews"
                 Replicas="1"
                 Shards="5"
                 PageSize="0"
                 ThreadCount="1"
                 TypeName="EsData.Business.DataIndex.Indexers.VendorAndCarSerialPromotionNewsIndexer"
                 Interval="60"
                 DBTables="DealerAssistantSystemConnString|everyVendorAndCarSerialPromotionNewstop1;"
                 />
    <IndexConfig IndexType="dealermainbrandinfo"
                 IndexName="dealermainbrandinfo_v"
                 Alias="dealermainbrandinfo"
                 Replicas="1"
                 Shards="5"
                 PageSize="0"
                 ThreadCount="1"
                 TypeName="EsData.Business.DataIndex.Indexers.DealerMainBrandIndexer"
                 Interval="60"
                 DBTables=""
                 />
 </IndexConfigs>
</IndexConfig>