<?xml version="1.0" encoding="utf-8" ?>
<!--
      ConfigKey="每行不能相同,作为配置的唯一key"
      DbConnectionKey="数据库连接字符串配置文件ConnectionString.config中 的 key"
      TableName="表名"
      PkName="主键Id"
      Interval="扫描间隔 秒"
      RabbitmqConnectionString="rabbitmq 链接字符串"
      ExChange="交换机"
      RoutingKey="路由键"
-->
<TrackTaskConfig>
  <TrackTaskConfigs>
    <TrackTaskConfig
      ConfigKey="1"
      DbConnectionKey="HGShareConnString"
      TableName="Article"
	    PkName="Id"
      Interval="30"
      RabbitmqConnectionString="host=127.0.0.1;port=5672;virtualHost=/;username=guest;password=guest"
      ExChange="HG_ESData"
      RoutingKey="hg_articles_key"   />
    <TrackTaskConfig
     ConfigKey="2"
     DbConnectionKey="HGShareConnString"
     TableName="Comment"
     PkName="Id"
     Interval="30"
     RabbitmqConnectionString="host=127.0.0.1;port=5672;virtualHost=/;username=guest;password=guest"
     ExChange="HG_ESData"
     RoutingKey="hg_comments_key"   />
  </TrackTaskConfigs>
</TrackTaskConfig>