
<div class="fly-link">
    <span>友情链接：</span>
    <a href="http://www.layui.com/" target="_blank">Layui</a>
    <a href="http://layim.layui.com/" target="_blank">LayIM</a>
    <a href="http://layer.layui.com/" target="_blank">layer</a>
</div>