<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="IndexConfig" type="EsData.Configs.IndexConfigSection, EsData.Configs" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <!--数据库-->
  <connectionStrings configSource="Config\ConnectionString.config" />
  <!--索引配置-->
  <IndexConfig configSource="Config\IndexConfig.config" />
  <!--log4net-->
  <log4net configSource="Config\log4net.config" />
  <appSettings>
    <!--es服务-->
    <add key="Nodes" value="192.168.87.13:9300;192.168.87.11:9300;" />
    <!--<add key="Nodes" value="localhost:9200"/>-->

    <!--补充初始化过程中错过的版本队列配置-->
    <add key="DataVersionSupplementRabbitmqConnectionString" value="host=192.168.87.11;port=5672;virtualHost=EP.MHS;username=epmhs;password=epmhs" />
    <add key="DataVersionSupplementRabbitmqExChange" value="mhs.mq2" />
    <add key="DataVersionSupplementRabbitmqRoutingKey" value="t" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>