<?xml version="1.0" encoding="utf-8" ?>
<!--
IndexType:类型 （唯一）
IndexName:索引名（名字后会追加日期）
Alias:别名（使用ES过程中使用别名）
Replicas:副本数
Shards:分片数
PageSize:每批次处理数(初始化时如果实现了分页功能，可设置分页数，如果实现的是一次性拉取所有则参数无效)
ThreadCount:线程数(如果是一次性拉取所有，线程数只能为1)
TypeName:实现类(实现初始化方法的类)
Interval:间隔(分钟)
DBTables:初始化过程中需要检测的数据（dbkey|tablename;）
-->
<IndexConfig>
  <IndexConfigs>
    <IndexConfig
                   IndexType="Article"
                   IndexName="articles_v"
                   Alias="articles"
                   Replicas="1"
                   Shards="5"
                   PageSize="0"
                   ThreadCount="1"
                   TypeName="EsData.Dve.HGShares.Indexers.ArticleIndexer"
                   Interval="30"
                   DBTables="HGShareConnString|Article;"
                />
  <IndexConfig
                   IndexType="Comment"
                   IndexName="comments_v"
                   Alias="comments"
                   Replicas="1"
                   Shards="5"
                   PageSize="0"
                   ThreadCount="1"
                   TypeName="EsData.Dve.HGShares.Indexers.CommentIndexer"
                   Interval="30"
                   DBTables="HGShareConnString|Comment;"
                />
 </IndexConfigs>
</IndexConfig>