<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="HGShareConnString" connectionString="server=.;database=ArticleManager;uid=sa;pwd=public@123" />
  <!-- HGShare.DataProvider 操作数据使用 -->
  <add name="ArticleManagerConnString" connectionString="server=.;database=ArticleManager;uid=sa;pwd=public@123" />
</connectionStrings>