<?xml version="1.0" encoding="utf-8" ?>
<!--
索引同步配置
配置 数据表 与 索引 对应关系，及消息转es数据 处理程序
ConfigKey 唯一值，每项不能相同
IndexName 索引名称 （es索引的名字或别名）  
TableName 监控的表     与消息中 tableName匹配
DbConnectionKey 监控的数据库 key与消息中DbConnectionKey匹配，connectionstring.config中配置也要一样
TypeName 同步器的实现
-->
<IndexSyncConfig>
  <IndexSyncConfigs>
    <IndexSyncConfig 
      ConfigKey="1"
      IndexName="articles" 
      TableName="Article" 
      DbConnectionKey="HGShareConnString" 
      TypeName="EsData.Dve.HGShares.Synchronizers.ArticleSynchronizer"
      />
    <IndexSyncConfig
     ConfigKey="2"
     IndexName="comments"
     TableName="Comment"
     DbConnectionKey="HGShareConnString"
     TypeName="EsData.Dve.HGShares.Synchronizers.CommentSynchronizer"
      />
  </IndexSyncConfigs>
</IndexSyncConfig>

