<?xml version="1.0" encoding="utf-8" ?>
<!--
队列监听配置
-->
<TracMsgQueueConfig>
  <TracMsgQueueConfigs>
    <TracMsgQueueConfig 
      ConfigKey="1"
      RabbitmqConnectionString="host=127.0.0.1;port=5672;virtualHost=/;username=guest;password=guest"
      ExChange="HG_ESData"
      RoutingKey="hg_articles_key"
      ThreadCount="1"
      Queue="hg_articles"
      WithPrefetchCount="5"
      />
    <TracMsgQueueConfig
     ConfigKey="2"
     RabbitmqConnectionString="host=127.0.0.1;port=5672;virtualHost=/;username=guest;password=guest"
     ExChange="HG_ESData"
     RoutingKey="hg_comments_key"
     ThreadCount="1"
     Queue="hg_comments"
     WithPrefetchCount="5"
      />
  </TracMsgQueueConfigs>
</TracMsgQueueConfig>