<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <!--数据库-->
  <connectionStrings configSource="Config\ConnectionString.config" />
  <!--log4net-->
  <log4net configSource="Config\log4net.config" />
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="vs:EnableBrowserLink" value="false" />
    <!--es服务-->
    <add key="Nodes" value="localhost:9200" />
    <!--es开关-->
    <add key="ESSwitch" value="false" />
    
    <!--BBS服务器地址-->
    <add key="BBSWebUrl" value="fly.com" />
    <!--静态文件服务器地址-->
    <add key="StaticFileHost" value="" />
    
    
    <!--头像设置-->
    <!--头像文件服务器地址-->
    <add key="AvatarFileHost" value="" />
    <!--用户头像目录配置（ 可使用绝对路径也可使用相对路径，可以与后台配置相同位置）-->
    <add key="UserAvatarPath" value="\UploadFiles\Avatar\" />
    <!--默认用户头像-->
    <add key="DefaultAvatar" value="defaultavatar{sex}.jpg" />
    <!--用户头像预览图尺寸-->
    <add key="AvatarThumbnailSizes" value="45;48;50;60;78;100;120;140;180" />
    <!--头像存储格式-->
    <add key="AvatarFormat" value="png" />
    <!--头像是否同步云空间-->
    <add key="AvatarIsSyncCloud" value="true" />
    <!--头像是否使用云空间地址展示-->
    <add key="AvatarIsShowCloudUrl" value="true" />
    <!--头像使用云空间空间名称-->
    <add key="AvatarBucketName" value="hgavatar" />
    <!--头像云空间地址-->
    <add key="AvatarCloudUrl" value="http://ofbvvqu9x.bkt.clouddn.com/" />
    <!--头像大小限制 1024*1024-->
    <add key="AvatarMaxSize" value="1048576" />
    
    
    <!--网站名称-->
    <add key="WebName" value="基于layui的fly社区模板开发" />
    <!--网站首页标题-->
    <add key="WebHomeTitle" value="欢迎入坑" />
    <!--网站积分名-->
    <add key="ScoreName" value="泡泡" />
    <!--系统版本号-->
    <add key="SysVersion" value="1.4.9" />
    
    
    <!--文章列表页面显示内容配置-->
    <add key="WebArticlePageSize" value="15" />
    <!--回复列表页面显示内容配置-->
    <add key="WebCommentPageSize" value="10" />
    <!--评论最大字符数-->
    <add key="CommentMaxLength" value="5000" />
    <!--评论最小字符数-->
    <add key="CommentMinLength" value="6" />
    <!--用户主页 文章条数-->
    <add key="UserHomeArticlePageSize" value="15" />
    <!--用户主页 评论条数-->
    <add key="UserHomeCommentPageSize" value="8" />
    <!--用户中心 文章条数-->
    <add key="UserCenterArticlePageSize" value="10" />
    <!--用户中心 评论条数-->
    <add key="UserCenterCommentPageSize" value="10" />
    
    <!--邮件服务器-->
    <add key="MailServer" value="smtp.qq.com" />
    <!--邮件端口-->
    <add key="Port" value="25" />
    <!--邮件用户名-->
    <add key="MailUserName" value="" />
    <!--邮件密码-->
    <add key="MailPassword" value="" />
    <!--邮件显示名-->
    <add key="MailName" value="飞翔的企鹅" />
    
    
    <!--邮箱激活模板id-->
    <add key="EmailActivateTemplate" value="1" />
    <!--邮箱激活模板id-->
    <add key="RetrievePasswordEmailTemplate" value="2" />
    
    
    <!-- 激活令牌过期时间(分钟)-->
    <add key="ActivateTokenExpireTime" value="5" />
    <!-- 找回密码令牌过期时间(分钟)-->
    <add key="RetrievePasswordTokenExpireTime" value="20" />


    <!--用户发送邮件时检测发送量的间隔（分钟）-->
    <add key="SendEmailInterval" value="2" />
    <!--用户发送邮件时检测发送量的间隔能发送的最大数量-->
    <add key="SendEmailIntervalMaxNum" value="1" />
    <!--用户发送邮件时检测当天发送量能发送的最大数量-->
    <add key="SendEmailToDayMaxNum" value="10" />
    
    <!--用户发帖限制间隔（秒）-->
    <add key="AddArticleInterval" value="60" />
    <!--用户评论限制间隔（秒）-->
    <add key="AddCommentInterval" value="30" />
    
    
    <!--七牛配置 ak-->
    <add key="Cloud_QiNiu_AK" value="" />
    <!--七牛配置 sk-->
    <add key="Cloud_QiNiu_SK" value="" />
    
    <add key="RouteDebugger:Enabled" value="true" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
