<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--<add name="ArticleManagerConnString" connectionString="server=qds18168063.my3w.com;uid=qds18168063;pwd=326794739;database=qds18168063_db;" providerName="System.Data.SqlClient" />
  <add name="ArticleManagerConnString" connectionString="server=.;uid=sa;pwd=public@123;database=ArticleManager;" providerName="System.Data.SqlClient" />-->
  <add name="ArticleManagerConnString" connectionString="server=huhangfei-55;uid=sa;pwd=public@123;database=ArticleManager;" providerName="System.Data.SqlClient" />
</connectionStrings>
